:root {
    --text_color: #000000;
    --background_color: #ffffff;
    --primary_color: #8FB3FF;
    --secondary_color: #ebf1ff;
    --accent_color: #d41d6d;

    --font_scale: (1.5vh + 1vw);
}


* {
    margin: 0;
    padding: 0;
    outline: none;

    font-family: Nunito;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background_color);
}