.margin_wrapper {
    background-color: var(--background_color);

    margin-left: auto;
    margin-right: auto;
    padding-left: 5vw;
    padding-right: 5vw;

    max-width: 120vh;
    width: auto;

    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    font-size: calc(2*var(--font_scale));
    width: 100%;
}

h2 {
    padding-top: 4rem;
    padding-bottom: 1rem;

    font-size: calc(1.5*var(--font_scale));
}

h3 {
    padding-top: 3rem;
    font-size: calc(1*var(--font_scale));
}

li {
    font-size: calc(0.8*var(--font_scale));
}

p {
    font-size: calc(0.8*var(--font_scale));

    padding-top: 3vh;
    padding-bottom: 3vh;
}

table {
    border-collapse: collapse;

    margin: 1rem 0px;
}

td {
    font-size: calc(0.8*var(--font_scale));

    border: 1px solid black;

    padding: 4px;
}

tr:nth-child(even){background-color: var(--secondary_color);}

hr {
    border-color: var(--primary_color);
    background-color: var(--primary_color);
}

pre code {
    background-color: #eee;
    border: 1px solid #999;

    display: block;

    font-size: calc(0.7*var(--font_scale));
    overflow: scroll;

    border-radius: 20px;

    padding: 0px 20px;
}

.gradient_text {
    background: linear-gradient(to right, var(--primary_color), var(--accent_color));
    -webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}

.color_background {
    background-color: var(--secondary_color);
    width: 100%;

    border-radius: 20px;
}

.photo {
    object-fit: contain;

    max-height: 50vh;
    max-width: 70vw;

    margin-left: auto;
    margin-right: auto;

    width: auto;
    height: auto;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center_text {
    text-align: center;
}

.indent {
    text-indent: 2em;
}

.bold {
    font-weight: bold;
}

#top {
    display: flex;
    flex-direction: row;

    vertical-align: middle;

    margin-top: 4rem;
}

.back_button {
    display: flex;
    vertical-align: middle;

    transition: 200ms;

    width: calc(2*var(--font_scale));
    height: calc(2*var(--font_scale));
}

.back_button:hover {
    width: calc(2.2*var(--font_scale));
    height: calc(2.2*var(--font_scale));
}

.youtube_embed {
    border-radius: 10px;
    width: 80vh;
    max-width: 100%;
    aspect-ratio: 16 / 9;
}