#projects h3 {
    text-align: center;
}

.project-wrapper {
    background-color: var(--background);

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0px, 410px));

    margin: 20px 0px 0px 0px;

    gap: 20px;
    justify-content: space-between;
}

@media (max-width: 500px) {
    .project-wrapper {
        gap: 40px
    }
}

#projects h5 {
    padding-top: 60px;
}