* {
    margin: 0;
    padding: 0;
    outline: none;
    transition: all 0.5s ease;
}

body {
    font-family: Nunito;
    margin: 10vh, 10vw;
    outline: none;
}

.wrapper {
    margin: 10vh, 2vw;
    width: 90vw;
    height: 100%;
}

.projects-section {
    padding: 10vh 10vw;
}

.projects-title {
    color: #505050;
}

.card-wrapper {
    display: grid;
    margin-top: 8vh;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 2rem;
    gap: 2rem;
}

.card {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    border-radius: 0.5rem;
    overflow: hidden;
    position: relative;
}

.card img {
    object-fit: cover;
    width: 100%;
    height: 12rem;
}

.project-text h4 {
    padding: 1rem;
}

.project-text a {
    /* color: #888883; */
    color: #ff6363;
}

.badge {
    border-radius: 99999px;
    padding: 0.5rem;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(226, 226, 213, 0.9);
    color: rgba(136, 136, 131, 0.9);
    margin: 0.5rem;
}

@media only screen and (max-width: 1000px) {
    .card-wrapper {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media only screen and (max-width: 500px) {
    .card-wrapper {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

