:root {
    --background-color: #ffffff;
    --text_color: #000000;

    --primary_color: #8FB3FF;
    --secondary_color: #ebf1ff;
    --accent_color: #d41d6d;
}


* {
    margin: 0;
    padding: 0;
    outline: none;
    transition: all 0.5s ease;

    color: var(--primary_color);
    font-family: Nunito;
}

body {
    margin: 10vh, 10vw;
    outline: none;
    background-color: var(--background-color);
}

header {
    display: flex;
    justify-content: space-evenly;

    position: sticky;
    width: 100%;
    top: 0;
    z-index: 999;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--accent_color);
    height: 20%;
}

header a{
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    color: var(--background-color);

    display: table;
    vertical-align: middle;

    width: fit-content;
}

#about-section {
    display: flex;

    margin-left: auto;
    margin-right: auto;

    padding-top: 6rem;
    max-width: 120vh;
    padding: 10vh 20px;
}

#about-text {
    padding-top: 10vh;
    padding-bottom: 10vh;

    text-align: center;
}

#about-text p {
    color: var(--text_color);
    padding-top: 4vh;
    font-size: calc(1*(1vh + 1vw));
}

#about-text h1 {
    color: var(--text_color);
    font-size: calc(2*(1vh + 1vw));

    overflow-block:visible
}

#about-text span {
    background: linear-gradient(to right, var(--primary_color), var(--accent_color));
    -webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}

#project-wrapper {
    background-color: var(--secondary_color);
}

#about-title{
    font-size: calc(2*(1vh + 1vw));
    color: var(--text_color);

}

#projects-section {
    display: block;
    margin-left: auto;
    margin-right: auto;

    max-width: 120vh;
    padding: 10vh 20px;
}

#projects-title {
    color: var(--text_color);

    text-align: center;

    font-weight: 600;
    font-size: calc(1.6*(1vh + 1vw));
}

#project-tags {
    margin: 6vh auto;
    padding: calc(0.7*(1vh + 1vw));

    position: sticky;
    top: 3vh;
    width: 100%;
    z-index: 100;

    text-align: center;
    background-color: rgba(163, 190, 247, 0.5);
    backdrop-filter: blur(5px);

    border-radius: 50vh;

    width:fit-content
}

#project-tags a{
    text-decoration: none;
    color: var(--text_color);

    padding-left: 1.5vw;
    padding-right: 1.5vw;

    font-weight: 600;

    font-size: calc(0.75*(1vh + 1vw));
}

.card-wrapper {
    display: absolute;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.card {
    margin-top: 70px;
    padding-bottom: 20px;

    background-color: var(--background-color);

    /* box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); */
    border-radius: 0.9rem;
    overflow: hidden;
    position: relative;

    transition: all 1s;
    animation: fadeIn 2s ease-in;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    /* opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 1.2s ease-out;
    will-change: opacity, visibility; */
}

@keyframes fade {  
    0% {  
        opacity: 0;  
    }  
 
    100% {  
        opacity: 100%; 
    }  
}

.card:hover {
    position: relative;
    top: -0.5rem;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.card img {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 2 / 1;
}

.card-bottom {
    display: flex;
    flex-direction: row;
}

.project-text h3 {
    font-size: calc(1*(1vh + 1vw));
    padding: 1rem;
    padding-bottom: 0.8rem;
    width: fit-content;
}

.project-text a {
    color: var(--text_color);
    text-decoration: none;
    display: flex;
    width: fit-content;
}

.project-text h6 {
    font-weight: 500;
    font-size: calc(0.7*(1vh + 1vw));
    color: var(--text_color);

    padding: 1rem;
    padding-top: 0;
    width: fit-content;
}

.project-button {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 3vw;
    width: 30px;
    height: 30px;
}

.project-button:hover {
    width: 35px;
    height: 35px;
}