:root {
    --text_color: #000000;
    --background_color: #ffffff;
    --primary_color: #8FB3FF;
    --secondary_color: #ebf1ff;
    --accent_color: #d41d6d;
}


* {
    margin: 0;
    padding: 0;
    outline: none;

    font-family: Nunito;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 10vh, 10vw;
    outline: none;
    background-color: var(--background_color);
}

#about-section {
    display: flex;
    flex-direction: column;

    margin-left: auto;
    margin-right: auto;

    padding-top: 6rem;
    max-width: 120vh;
    padding: 10vh 20px;
}

#about-text {
    padding-top: 10vh;
    padding-bottom: 10vh;

    text-align: center;
}

#about-text h1 {
    color: var(--text_color);
    font-size: calc(2*(1vh + 1vw));

    letter-spacing: -1px;

    overflow-block:visible
}

#about-text p {
    color: var(--text_color);
    padding: 4vh 5vw;
    font-size: calc(1*(1vh + 1vw));
}

#self-photo {
    width: 50vh;
    max-width: 50vw;

    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

#about-text span {
    background: linear-gradient(to right, var(--primary_color), var(--accent_color));
    -webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}

#project-wrapper {
    background-color: var(--secondary_color);
}



#projects-section {
    display: block;
    margin-left: auto;
    margin-right: auto;

    max-width: 120vh;
    padding: 10vh 20px;
}

#projects-title {
    color: var(--text_color);

    text-align: center;

    font-weight: 600;
    font-size: calc(1.6*(1vh + 1vw));
}

#project-tags {
    margin: 6vh auto 10vh auto;
    padding: calc(0.7*(1vh + 1vw));

    position: sticky;
    top: 3vh;
    width: 100%;
    z-index: 100;

    text-align: center;
    background-color: rgba(163, 190, 247, 0.5);
    backdrop-filter: blur(5px);

    border-radius: 50vh;

    width:fit-content
}

#project-tags a{
    text-decoration: none;
    color: var(--text_color);

    padding-left: 1.5vw;
    padding-right: 1.5vw;

    font-weight: 600;

    font-size: calc(0.75*(1vh + 1vw));
}

.card-wrapper {
    display: absolute;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.card-wrapper h1 {
    font-size: calc(1.3*(1vh + 1vw));

    margin-top: 20vh;
    margin-bottom: 5vh;

    background: linear-gradient(to right, #88a9f2, #d41dc8);
    -webkit-text-fill-color: transparent;
	-webkit-background-clip: text;

    width: fit-content;
}

.card {
    margin-bottom: 100px;
    padding-bottom: 20px;

    background-color: var(--background_color);

    /* box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); */
    border-radius: 0.9rem;
    overflow: hidden;
    position: relative;

    transition: all 200ms;
    animation: fade 2s ease-in;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fade {  
    0% {  
        opacity: 0;  
    }  
 
    100% {  
        opacity: 100%; 
    }  
}

/* .card:hover {
    position: relative;
    top: -0.5rem;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
} */

.card img {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 2 / 1;
}

.card-bottom {
    display: flex;
    flex-direction: row;
}

.project-text {
    max-width: calc(95% - calc(1.1*(1.5vh + 1vw)) - 20px);
}

.project-text h3 {
    font-size: calc(1*(1vh + 1vw));
    padding: 1rem;
    padding-bottom: 0.8rem;
    width: fit-content;
}

.project-text a {
    color: var(--text_color);
    text-decoration: none;
    display: flex;
    width: fit-content;
}

.project-text h6 {
    font-weight: 500;
    font-size: calc(0.7*(1vh + 1vw));
    color: var(--text_color);

    padding: 1rem;
    padding-top: 0;
    width: fit-content;
}

.project-button {
    display: flex;

    transition: 200ms;

    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 3vw;

    width: calc(1.1*(1.5vh + 1vw));
    height: calc(1.1*(1.5vh + 1vw));
}

.project-button:hover {
    width: calc(1.5*(1.5vh + 1vw));
    height: calc(1.5*(1.5vh + 1vw));
}