.project-card {
    background-color: var(--background);

    width: 100%;
    max-width: 410px;
    border-radius: 12px;

    overflow: hidden;

    position: relative;
    box-shadow: 0px 0px 15px var(--shadow);
    border: 2px solid var(--shadow);
}

.project-card img {
    width: 100%;
    aspect-ratio: 2 / 1;
    image-resolution: 100%;

    display: block;
    object-fit: cover;
    transition: transform 0.25s ease-in-out;
}

.clickable {
    cursor: pointer;
}

.clickable:hover img {
    transform: scale(1.08);
    position: relative;
    z-index: 0;
}

.project-card p {
    font-size: clamp(0.9rem, 1vw + 0.5rem, 1rem);
    padding-top: 5px;
}

.card-bottom {
    display: flex;
    flex-direction: column;
    align-items: left;

    padding: 1rem;
    background-color: var(--background);
    /* background-color: var(--nav); */

    position: relative;
    z-index: 1;
}

#project-link {
    text-decoration: none;
}

.tags {
    list-style-type: none;
    overflow: none;

    display: flex;
    gap: 10px;
}

.tags li {
    background-color: var(--nav);
    border-radius: 999px;

    margin-top: 10px;
    padding: 5px 10px;
    text-indent: 0px;

    font-size: clamp(0.85rem, 1vw + 0.5rem, 1rem);
}