.projects {
    padding: 100px 30px 0px 30px;
    max-width: 840px;
    margin: 0px auto;
}

.projects h3 {
    text-align: center;
}

.project-wrapper {
    background-color: var(--background);

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0px, 400px));

    margin: 20px 0px 0px 0px;

    gap: 20px;
    justify-content: center;
}

.project-card {
    background-color: var(--background);

    width: 100%;
    max-width: 400px;
    border-radius: 12px;

    overflow: hidden;
    cursor: pointer;

    position: relative;
}

.project-card img {
    width: 100%;
    aspect-ratio: 45 / 26;
    image-resolution: 100%;

    display: block;
    object-fit: cover;
    transition: transform 0.25s ease-in-out;
}

.project-card:hover img {
    transform: scale(1.08);
    position: relative;
    z-index: 0;
}

.card-bottom {
    display: flex;
    flex-direction: column;
    align-items: left;

    padding: 1rem;
    background-color: var(--background);
    background-color: var(--nav);

    position: relative;
    z-index: 1;
}

#project-link {
    text-decoration: none;
}