:root[data-theme="light"] {
  --text: #10090a;
  --background: #fbf6f7;
  --primary: #ec364f;
  --secondary: #72dbf6;
  --accent: #f1c40e;
  --nav: hsl(351, 44%, 92%);
}

:root[data-theme="dark"] {
  --text: #f6eff0;
  --background: #0b0506;
  --primary: #c9132b;
  --secondary: #09718b;
  --accent: #f1c40e;
  --nav: #1e1c1c;
}

:root {
  --maxPhoneWidth: 800px;
  --maxTabletWidth: 1200px;
}

* {
    margin: 0;
    padding: 0;
    outline: none;

    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background);
}

h1, h2, h3, h4, h5, h6, p, li {
    color: var(--text);
}

/* Body text */
body {
  font-size: clamp(0.95rem, 1vw + 0.5rem, 1.1rem);
}

/* Head*/
h1 {
  font-size: clamp(2rem, 5vw, 3.5rem);
  font-weight: 700;
}

h2 {
  font-size: clamp(1.75rem, 4vw, 2.75rem);
  font-weight: 600;
}

h3 {
  font-size: clamp(1.5rem, 3.5vw, 2.25rem);
  font-weight: 600;
}

h4 {
  font-size: clamp(1.25rem, 3vw, 1.75rem);
  font-weight: 500;
}

h5 {
  font-size: clamp(1.1rem, 2.5vw, 1.5rem);
  font-weight: 500;
}

h6 {
  font-size: clamp(1rem, 2vw, 1.25rem);
  font-weight: 500;
}

p, li {
  font-size: clamp(0.95rem, 1vw + 0.5rem, 1.1rem);
  font-weight: 400;
  line-height: 1.6;
}

a {
  font-size: clamp(0.95rem, 1vw + 0.5rem, 1.1rem);
  font-weight: 400;
  line-height: 1.6;
  color: var(--primary);
}

a:hover {
  text-decoration-style: wavy;
  text-decoration-color: var(--primary);
}

.gradient {
  background: linear-gradient(to right, var(--primary), var(--accent));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}